
.ipynb_checkpoints/lab_1-checkpoint.ipynb
.ipynb_checkpoints/lab_3-checkpoint.ipynb
.ipynb_checkpoints/statistics_lab-checkpoint.ipynb
.ipynb_checkpoints/lab_4_data_exploration-checkpoint.ipynb
.ipynb_checkpoints/Intro_Hypothesis_Testing-checkpoint.ipynb
.ipynb_checkpoints/PythonDataBasics_Hypothesis-checkpoint.ipynb
parallel_coordinate.png
scatter_matrix.png
Intro_Hypothesis_Testing.ipynb
PythonDataBasics_Hypothesis.ipynb
